body{
    padding: 0;
    margin: 0;
    min-height: 100vh;   
    display: flex;
    flex-direction: column;
}
header {
    width: 100%;
    background: #005461;
    color: #fff;
    font-family: Arial, sans-serif;
}

        
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo img {
    height: 45px;
}

    
.main-menu {
    display: flex;
    gap: 30px;
}

.main-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    padding: 4px 0;
}

.main-menu a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background: #00B7B5;
    transition: 0.3s ease;
}

.main-menu a:hover::after {
    width: 100%;
}

.logo a{
    cursor: pointer;
    color: #F4F4F4;
    text-decoration: none;
}
@media (max-width: 768px) {
    .cars {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .cars {
        grid-template-columns: 1fr;
    }

    .main-menu {
        display: none;
    }
}
.dropdown{
    position: relative;
    display: flex;           
    align-items: center;   
}

.dropdown > a {
    padding: 4px 0;
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    min-width: 160px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-top: 5px;
    overflow: hidden;
    z-index: 1000;
}
.dropdown-content a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}
.dropdown-content a:hover{
    background-color: #005461;
    color: white;
}

.dropdown:hover .dropdown-content{
    display: block;
    
}

.dropdown-title{
    cursor: pointer;
}

.account-menu {
    position: relative;
}

.account-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: #00B7B5;
    border-radius: 6px;
    min-width: 140px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 10;
}

.account-dropdown a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.account-dropdown a:hover {
    background: #005461;
}


.account-menu:hover .account-dropdown {
    display: block;
}

.footer{
    background-color: #005461;
    color: white;
    display: flex;
    padding: 10px 10px;
    gap: 200px;
    justify-content: space-around;
    margin-top: auto; 
}
